/*all common css start*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.clr {
  clear: both;
}
/*all common css end*/

/* navbar part start */

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgb(62, 20, 200);
  text-align: center;
  position: relative;
  padding: 15px 30px;
}

#navbar .logo {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
#navbar .searchbox {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
#navbar .searchbox input {
  font-size: 20px;
  border: none;
  color: black;
  outline: 0;
  height: 100%;
  width: 450px;
  padding: 0px 10px;
  border-radius: 3px 0px 0px 3px;
}
#navbar .searchbox span {
  color: #0e55dc;
  font-size: 20px;
  background: rgb(210, 31, 31);
  height: 100%;
  padding: 2px 10px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 0px 3px 3px 0px;
}
#navbar .searchbox span::after {
  height: 100%;
  width: 0;
  background: red;
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}
#navbar .searchbox span:hover::after {
  width: 100%;
}
#navbar .searchbox:hover span {
  color: white;
}
#navbar ul {
  display: flex;
  margin: auto 0;
}
#navbar ul li {
  margin: 0px 2px;
}
#navbar ul li a {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 10px;
}
#navbar ul li:hover a {
  color: rgb(64, 31, 197);
  background: white;
}
#navbar .bar {
  position: relative;
  margin: auto 0;
  display: none;
}
#navbar .bar span {
  position: absolute;
  color: white;
  font-size: 25px;
}
input[type="checkbox"] {
  --webkit-appearance: none;
  display: none;
}
/* navbar part end */

/* responsive navbar part start */

@media screen and (max-width: 1250px) {
  #navbar {
    display: block;
    padding: 0;
  }
  #navbar .logo {
    display: inline-block;
    padding: 15px 30px;
  }
  #navbar .searchbox {
    width: 100%;
    justify-content: center;
    display: inline-flex;
    margin-bottom: 15px;
  }
  #navbar .searchbox input {
    width: 90%;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    background: white;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  #navbar ul li {
    text-align: center;
  }
  #navbar ul li a {
    color: black;
    font-size: 28px;
    padding: 20px;
    display: block;
  }
  #navbar .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }
  #navbar .bar #times {
    display: none;
  }
  #check:checked ~ #navbar .bar #times {
    display: block;
  }
  #check:checked ~ #navbar .bar #bars {
    display: none;
  }
  #check:checked ~ #navbar ul {
    visibility: visible;
    height: 465px;
  }
}
/* responsive navbar part end */

